<div class="card shadow p-3 mb-5 bg-white rounded" style="width: 18rem;">
    <img src="<%- p.image%>" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title"><%- p.name%></h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <div class="d-grid gap-2 col-auto mx-auto">
            <button onclick="carrito_add(<%- p.id %>)" class="btn btn-outline-dark">Añadir al carrito</button>
        </div>
    </div>
</div>
