<!DOCTYPE html>
<html>
<head>
    <title>New Sails App</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
<!--
    <style>
        .container-hueso{
            background: #c9bdb0;
        }
    </style>
    -->
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <h3>
        <a class="navbar-brand" href="/"><i class="bi bi-currency-bitcoin"></i> ONE RIG</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        </h3>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <% if (req.session.user && req.session.user.name === "Ryan Dahl") { %>

                    <li class="nav-item">
                        <a class="nav-link "><%= req.session.user.name %></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/add_product">Añadir producto</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/logout">Logout</a>
                    </li>
                <% }else{ %>
                        <% if (req.session.user) { %>
                            <li class="nav-item">
                                <a class="nav-link "><%= req.session.user.name %></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="/logout">Logout</a>
                            </li>
                            <% } else { %>
                    <li class="nav-item">
                        <a class="nav-link active" href="/login">Login</a>
                    </li>
                            <% } %>
                <% } %>
                    <li class="nav-item">
                        <% if (req.session.user === "Ryan Dahl") { %>
                                <a class="nav-link active " href="/product">Productos</a>
                            <% }else{ %>
                                <a class="nav-link active me-3" href="/product">Tienda</a>
                            <% } %>
                    </li>

            </ul>
            <% if (!(req.session.user === 'Juan Jose')) { %>
            <li class="nav-item">
                <a class="nav-link active me-3 text-white bg-dark" href="/shoppingcart">
                   <%if (req.session.cart){%>
                    <%- req.session.cart.products.length %>
                    <%}%>
                    <i class="bi bi-cart-fill"></i>
                    Mi carrito</a>
            </li>
            <% } %>
    </div>


</nav>
<div class="container">
    <main class="my-5">
<%- body %>
        </main>
</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
</html>
