<div class="container">
    <% if(msg){ %>
        <span style="color:#311818">
        <%- msg %>
    </span>
    <% } %>
    <h2 class="display-7">Añadir item</h2>

    <form action="/add_product" method="post" style="width: 50%">
        <input type="hidden" value="----" name="pid">
        <div class="form-group">
            <label for="name">Nombre del item:</label>
            <input type="text" name="name" class="form-control">

        </div>

        <div class="form-group">
            <label for="price">Precio del item:</label>
            <input type="number" name="price" class="form-control">
        </div>

        <div class="form-group">
            <label for="image">URL de la imagen:</label>
            <input type="text" name="image" class="form-control">
        </div>
        <!--Elegir entre estos dos
        <div class="mb-3">
            <label for="formFile" class="form-label">Subir imagen:</label>
            <input class="form-control" type="file" id="formFile">
        </div> -->

        <div class="form-group">
            <label for="description">Descripción:</label>
            <textarea name="description" id="description" cols="3" class="form-control"></textarea>
        </div>

        <br>

        <br>
        <button type="submit" class="btn btn-primary">Añadir</button>


    </form>

</div>
