<div class="text-center">
    <% console.log(cart) %>

    <div class="col">
        <h1>¡Compra Exitosa, <%- cart.owner.name %>!</h1>
        <p class="text-muted">
           Su compra esta siendo procesada, gracias por comprar con ONERIG!
        </p>
        <br>
        <div class="container">


            <button onclick="window.location.href='/sale/add'" class="btn btn-outline-dark">Datos de su compra</button>

        </div>
    </div>
</div>
