<div class="text-center">
    <div class="col">
        <h1>Bienvenido a ONE RIG</h1>
        <p class="text-muted">
            Somos la empresa líder en armado y venta de equipos para
            minería de criptomonedas. Tené tu RIG y empezá a minar criptomonedas.
        </p>
    </div>

    <img>
</div>
