<div class="row">
    <div class="col-1">
        <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#menu1"
                aria-expanded="false" aria-controls="menu1">
            Menu1
        </button><br>
        <div class="collapse" id="menu1">
            <div class="card card-body">
                Este es el menu 1
            </div>
        </div>
        <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#menu2"
                aria-expanded="false" aria-controls="menu2">
            Menu2
        </button>
        <div class="collapse" id="menu2">
            <div class="card card-body">
                Este es el menu 2222
            </div>
        </div>

    </div>
    <div class="col">
        <h1>Esto es un titulo</h1>

        <ul>
            <li>Item 1</li>
            <li>Item 2</li>
        </ul>
    </div>
</div>
