<div class="text-center">
    <div class="col">
        <h1>PRODUCTOS</h1>
        <p class="text-muted">
            Elegí el combo que mejor te convenga!
        </p>
    </div>
    <div class="row align-items-center justify-content-around">

<% for (let p of product) {%>
            <%- include('../part/product', {p: p}); %>
<%}%>
