<div class="bd-example">
    <table class="table">

        <tbody>
        <tr>
            <th scope="row">Nombre de facturación</th>
            <td><%- sale.cartSale.owner.name%> </td>
        </tr>
        <tr>
            <th scope="row">Precio de su carrito</th>
            <td><%- sale.cartSale.total%> $USD </td>
        </tr>
        <tr>
            <th scope="row">Precio final (aplicando impuestos)</th>
            <td class="table-success"><%- (sale.cartSale.total)*(sale.iva)%> $USD </td>
        </tr>
        </tbody>

    </table>
</div>
