<div class="bd-example">
    <table class="table">
        <thead>
        <tr>
            <th>Monto</th>
            <th>IVA</th>
            <th>Ver Carrito</th>
        </tr>
        </thead>
        <tbody>
        <% for (let v of sale){%>
        <tr>
            <td><%-v.amount%> </td>
            <td><%- v.iva%> </td>
            <td>carrito </td>
        </tr>
        <%}%>
        </tbody>

    </table>
</div>
