<ul class="list-group">

        <% console.log(cart) %>

        <% if (req.session.cart) {
                for (let i = 0; i < cart.quantity; i++) { %>
        <li class="list-group-item d-flex justify-content-between align-items-center">
                   <% let x = cart.products[i]; %>
        PRODUCTO: <%- x %> (aca deberia ir product name asociado con el id)
        <span class="badge bg-dark rounded-pill">
          CANT: <%-  1 %>
        </span>
    </li>

                    <%} }%>
</ul>
<br>
<div class="row align-items-center justify-content-around">
<div class="card shadow  bg-white rounded text-center" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">TOTAL DE PRODUCTOS: <%- cart.quantity%></h5>
        <p class="card-text">precio total
            <br>

        </p>

        <div class="d-grid gap-2 col-auto mx-auto">
                <button onclick="//funcion de SALE que tire mensjae de la suma de product.price" class="btn btn-outline-dark">COMPRAR</button>
        </div>
    </div>
</div>
</div>
